


<div class="row">
  <div class="col-sm-6">
    <h1>Assets</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_asset_path, class: 'btn btn-primary' do %>
    Add New Asset
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>Description</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @assets.each do |asset| %>
        <%= content_tag :tr, id: dom_id(asset), class: dom_class(asset) do %>
          

                      <td><%= asset.title %></td>
                      <td><%= asset.description %></td>
          
          
            <td><%= link_to 'Show', asset %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
